<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.lviat.mapper.UserMapper">
    <select id="getUser" resultType="User">
        select * from LVIATYI.aspn_user
    </select>
    <resultMap id="userResultMap" type="User">
        <result property="username" column="User_name"/>
        <result property="phoneNum" column="phone_Num"/>
    </resultMap>
</mapper>