<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.lviat.model.User" alias="User"/>
        <typeAlias type="com.lviat.model.Consumer" alias="Consumer"/>
        <typeAlias type="com.lviat.model.Medicine" alias="Medicine"/>
        <typeAlias type="com.lviat.model.SalesInfo" alias="SalesInfo"/>
        <typeAlias type="com.lviat.model.MedicineType" alias="MedicineType"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="oracle"/>
            <!-- 默认值为 false，当该参数设置为 true 时，如果 pageSize=0 或者 RowBounds.limit = 0 就会查询出全部的结果（相当于没有执行分页查询，但是返回结果仍然是 Page 类型）。-->
            <property name="pageSizeZero" value="true"/>
            <!-- 分页合理化参数，默认值为 false 。当该参数设置为 true 时，pageNum<=0 时会查询第一页， pageNum>pages（超过总数时），会查询最后一页。默认 false 时，直接根据参数进行查询。-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url"
                          value="jdbc:oracle:thin:@120.55.165.128:1521/ORCLPDB1?useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="ASPNADMIN"/>
                <property name="password" value="t7cgavENd6iqB90f"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/lviat/mapper/UserMapper.xml"/>
        <mapper resource="com/lviat/mapper/ConsumerMapper.xml"/>
        <mapper resource="com/lviat/mapper/MedicineMapper.xml"/>
        <mapper resource="com/lviat/mapper/MedicineTypeMapper.xml"/>
        <mapper resource="com/lviat/mapper/SalesInfoMapper.xml"/>
    </mappers>
</configuration>