<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url"
                          value="jdbc:oracle:thin:@120.55.165.128:1521/ORCLPDB1?useUnicode=true&amp;characterEncoding=utf-8"/>
                <property name="username" value="AspnAdmin"/>
                <property name="password" value="t7cgavENd6iqB90f"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/com.lviat/mapper/UserMapper.xml"/>
    </mappers>
</configuration>